USE [master]
GO
/****** Object:  Database [QLLinhKienMayTinh]    Script Date: 12/16/2019 7:58:11 PM ******/
CREATE DATABASE [QLLinhKienMayTinh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_PRIMARY', FILENAME = N'E:\Backup\QLLinhKienMayTinh_primary.mdf' , SIZE = 5120KB , MAXSIZE = 10240KB , FILEGROWTH = 10%)
 LOG ON 
( NAME = N'DB_LOG', FILENAME = N'E:\Backup\QLLinhKienMayTinh_log.ldf' , SIZE = 2048KB , MAXSIZE = 5120KB , FILEGROWTH = 15%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLLinhKienMayTinh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLLinhKienMayTinh]
GO
/****** Object:  StoredProcedure [dbo].[CapNhatSoLuong_sauBan]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[CapNhatSoLuong_sauBan](@malk nvarchar(11),@maHDB nchar(11))
as
update LINHKIEN
set SOLUONG = SOLUONG - (select SUM(SOLUONG) from CT_HOADONBAN where CT_HOADONBAN.MaLK = LINHKIEN.MaLK AND MaHDB = @maHDB group by MaLK)
where MaLK = @malk


GO
/****** Object:  StoredProcedure [dbo].[CapNhatSoLuong_saumUA]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[CapNhatSoLuong_saumUA](@malk nvarchar(11),@maHDM nchar(11))
as
update LINHKIEN
set SOLUONG = SOLUONG + (select SUM(SOLUONG) 
from CT_PHIEUNHAP ct,PHIEUNHAP pn, HOADON_MUAHANG hdm
where ct.MaLK = LINHKIEN.MaLK AND pn.MaHDM = @maHDM AND pn.MaPN =ct.MaPhieuNhap AND hdm.MaHD=pn.MaHDM AND hdm.TinhTrang = 1 group by MaLK)
where MaLK = @malk

GO
/****** Object:  Table [dbo].[BANGCAP]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGCAP](
	[MaBC] [char](4) NOT NULL,
	[TenBangCap] [nvarchar](30) NULL,
 CONSTRAINT [PK_BANGCAP] PRIMARY KEY CLUSTERED 
(
	[MaBC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_HOADONBAN]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADONBAN](
	[Ma_CTHD] [nchar](11) NOT NULL,
	[MaHDB] [nchar](11) NULL,
	[MaLK] [nvarchar](11) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CTHOADONBAN] PRIMARY KEY CLUSTERED 
(
	[Ma_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_HOADONMUA]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_HOADONMUA](
	[Ma_CTHD] [nchar](11) NOT NULL,
	[MaHDM] [nchar](11) NULL,
	[MaLK] [nvarchar](11) NULL,
	[SoLuong] [int] NULL,
	[DonGia] [money] NULL,
	[ThanhTien] [money] NULL,
 CONSTRAINT [PK_CTHOADONMUA] PRIMARY KEY CLUSTERED 
(
	[Ma_CTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUNHAP]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUNHAP](
	[Ma_CTPN] [nchar](11) NOT NULL,
	[MaPhieuNhap] [nvarchar](11) NULL,
	[MaLK] [nvarchar](11) NULL,
	[SoLuong] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[Ma_CTPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CT_PHIEUXUAT]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUXUAT](
	[Ma_CTPX] [nchar](11) NOT NULL,
	[MaPhieuXuat] [nchar](11) NULL,
	[MaLK] [nvarchar](11) NULL,
	[SoLuong] [int] NULL,
	[GhiChu] [nvarchar](50) NULL,
 CONSTRAINT [PK_CTPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[Ma_CTPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIA_LK]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIA_LK](
	[MaLK] [nvarchar](11) NOT NULL,
	[NgayApDung] [date] NOT NULL,
	[GiaBan] [money] NULL,
 CONSTRAINT [PK_GIA_LK_1] PRIMARY KEY CLUSTERED 
(
	[MaLK] ASC,
	[NgayApDung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON_BANHANG]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_BANHANG](
	[MaHD] [nchar](11) NOT NULL,
	[NgayLap] [date] NULL,
	[MaKH] [nchar](11) NULL,
	[MaNV] [char](7) NULL,
	[TongTien] [money] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_HOADONBANHANG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOADON_MUAHANG]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOADON_MUAHANG](
	[MaHD] [nchar](11) NOT NULL,
	[NgayMua] [date] NULL,
	[MaNCC] [nvarchar](6) NULL,
	[MaNV] [char](7) NULL,
	[TongTien] [money] NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_HOADONMUAHANG] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MaKH] [nchar](11) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nchar](10) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LINHKIEN]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LINHKIEN](
	[MaLK] [nvarchar](11) NOT NULL,
	[TenLK] [nvarchar](50) NULL,
	[LoaiLK] [nvarchar](3) NOT NULL,
	[NhaSX] [nvarchar](40) NULL,
	[XuatXu] [nvarchar](30) NULL,
	[NamSX] [int] NULL,
	[MaNCC] [nvarchar](6) NULL,
	[SOLUONG] [int] NULL,
	[GiaNhap] [money] NULL,
 CONSTRAINT [PK_LINHKIEN] PRIMARY KEY CLUSTERED 
(
	[MaLK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAI_LK]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI_LK](
	[MaLoai] [nvarchar](3) NOT NULL,
	[TenLoai] [nchar](10) NOT NULL,
	[DVT] [nvarchar](20) NOT NULL,
	[ThangBH] [int] NULL,
 CONSTRAINT [PK_LOAI_LK] PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MANHINH]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MANHINH](
	[MaManHinh] [nchar](3) NOT NULL,
	[TenManHinh] [nvarchar](50) NULL,
 CONSTRAINT [PK_MANHINH] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ND_NND]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ND_NND](
	[TaiKhoanND] [char](7) NOT NULL,
	[MaNhomND] [int] NOT NULL,
	[GhiChu] [nvarchar](150) NULL,
 CONSTRAINT [PK_ND_NND] PRIMARY KEY CLUSTERED 
(
	[TaiKhoanND] ASC,
	[MaNhomND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOIDUNG]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOIDUNG](
	[TaiKhoan] [char](7) NOT NULL,
	[MatKhau] [nvarchar](200) NOT NULL,
	[TinhTrang] [bit] NULL,
 CONSTRAINT [PK_NGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MaNCC] [nvarchar](6) NOT NULL,
	[TenNCC] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nchar](10) NULL,
	[SoTaiKhoan] [nchar](15) NULL,
	[NgayDangKy] [date] NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MaNV] [char](7) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [nvarchar](100) NULL,
	[DienThoai] [nchar](11) NULL,
	[Email] [nvarchar](50) NULL,
	[CMND] [nvarchar](11) NULL,
	[MaBC] [char](4) NULL,
	[GioiTinh] [nvarchar](5) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOMNGUOIDUNG]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHOMNGUOIDUNG](
	[ID] [int] NOT NULL,
	[TenGoi] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LOAINGUOIDUNG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MaManHinh] [nchar](3) NOT NULL,
	[MaNhomND] [int] NOT NULL,
	[CoQuyen] [bit] NOT NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MaManHinh] ASC,
	[MaNhomND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MaPN] [nvarchar](11) NOT NULL,
	[MaHDM] [nchar](11) NULL,
	[NgayNhap] [date] NULL,
	[MaNCC] [nvarchar](6) NULL,
	[MaNV] [char](7) NOT NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MaPX] [nchar](11) NOT NULL,
	[MaHDB] [nchar](11) NULL,
	[MaKH] [nchar](11) NULL,
	[MaNV] [char](7) NULL,
	[NgayXuat] [date] NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MaPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[MaTS] [nchar](11) NOT NULL,
	[TiLeGiaBan] [int] NULL,
	[SLMuaToiDa] [int] NULL,
	[SLTonToiDa] [int] NULL,
	[SLTonToiThieu] [int] NULL,
	[SLBanToiDa] [int] NULL,
 CONSTRAINT [PK_THAMSO] PRIMARY KEY CLUSTERED 
(
	[MaTS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[GiaLinhKienUpdated]    Script Date: 12/16/2019 7:58:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[GiaLinhKienUpdated]
as
SELECT		g.MaLK, g.GiaBan,g.NgayApDung
	FROM		 GIA_LK g
	WHERE		NgayApDung = (SELECT MAX(NgayApDung) FROM GIA_LK g2 WHERE  g2.MaLK= g.MaLK)	
	GROUP BY	MaLK,g.GiaBan,g.NgayApDung



GO
INSERT [dbo].[BANGCAP] ([MaBC], [TenBangCap]) VALUES (N'BC01', N'Đại học')
INSERT [dbo].[BANGCAP] ([MaBC], [TenBangCap]) VALUES (N'BC02', N'Cao đẳng')
INSERT [dbo].[BANGCAP] ([MaBC], [TenBangCap]) VALUES (N'BC03', N'Trung cấp')
INSERT [dbo].[CT_HOADONBAN] ([Ma_CTHD], [MaHDB], [MaLK], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'1009170AYVE', N'HD401149IXK', N'19FYN29714', 50, 590000.0000, 29500000.0000)
INSERT [dbo].[CT_HOADONBAN] ([Ma_CTHD], [MaHDB], [MaLK], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'1029400AFAS', N'HD547284MUG', N'19FYN29714', 2, 3125000.0000, 6250000.0000)
INSERT [dbo].[CT_HOADONBAN] ([Ma_CTHD], [MaHDB], [MaLK], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'1148300AXQC', N'HD689438QOD', N'19BFL14180', 1, 630000.0000, 630000.0000)
INSERT [dbo].[CT_HOADONMUA] ([Ma_CTHD], [MaHDM], [MaLK], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'1203927AFQW', N'HD844725UDA', N'19FQC31488', 50, 300000.0000, 15000000.0000)
INSERT [dbo].[CT_HOADONMUA] ([Ma_CTHD], [MaHDM], [MaLK], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'1284994AIFF', N'HD275757EXS', N'19FVH28093', 30, 50000.0000, 1500000.0000)
INSERT [dbo].[CT_HOADONMUA] ([Ma_CTHD], [MaHDM], [MaLK], [SoLuong], [DonGia], [ThanhTien]) VALUES (N'1305031AHHI', N'HD531911LNL', N'19BFL14180', 100, 460000.0000, 46000000.0000)
INSERT [dbo].[CT_PHIEUNHAP] ([Ma_CTPN], [MaPhieuNhap], [MaLK], [SoLuong], [GhiChu]) VALUES (N'10511659AMJ', N'PN556601MSI', N'19CAE18896', 100, N'')
INSERT [dbo].[CT_PHIEUNHAP] ([Ma_CTPN], [MaPhieuNhap], [MaLK], [SoLuong], [GhiChu]) VALUES (N'14493697BXA', N'PN357665HUN', N'19BQF14247', 30, N'')
INSERT [dbo].[CT_PHIEUNHAP] ([Ma_CTPN], [MaPhieuNhap], [MaLK], [SoLuong], [GhiChu]) VALUES (N'19626549CGF', N'PN787034TAL', N'19GHO34997', 30, N'')
INSERT [dbo].[CT_PHIEUXUAT] ([Ma_CTPX], [MaPhieuXuat], [MaLK], [SoLuong], [GhiChu]) VALUES (N'10656432AVD', N'PX413763IXM', N'19FQC31488', 2, N'')
INSERT [dbo].[CT_PHIEUXUAT] ([Ma_CTPX], [MaPhieuXuat], [MaLK], [SoLuong], [GhiChu]) VALUES (N'12051151AXL', N'PX521920LDP', N'19HEY38709', 1, N'')
INSERT [dbo].[CT_PHIEUXUAT] ([Ma_CTPX], [MaPhieuXuat], [MaLK], [SoLuong], [GhiChu]) VALUES (N'12516516APW', N'PX203649CDV', N'19GFS33464', 1, N'')
GO
INSERT [dbo].[GIA_LK] ([MaLK], [NgayApDung], [GiaBan]) VALUES (N'19AGE12493', CAST(0x66400B00 AS Date), 2268000.0000)
INSERT [dbo].[GIA_LK] ([MaLK], [NgayApDung], [GiaBan]) VALUES (N'19AGE12493', CAST(0x67400B00 AS Date), 2268000.0000)
INSERT [dbo].[GIA_LK] ([MaLK], [NgayApDung], [GiaBan]) VALUES (N'19AGE12493', CAST(0x72400B00 AS Date), 2268000.0000)
GO
INSERT [dbo].[HOADON_BANHANG] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien], [TinhTrang]) VALUES (N'HD107997APB', CAST(0x4C400B00 AS Date), N'KH6298680OX', N'1704501', 1260000.0000, 1)
INSERT [dbo].[HOADON_BANHANG] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien], [TinhTrang]) VALUES (N'HD11569TEST', CAST(0x16400B00 AS Date), N'KH8508660UJ', N'1704500', 78990000.0000, 1)
INSERT [dbo].[HOADON_BANHANG] ([MaHD], [NgayLap], [MaKH], [MaNV], [TongTien], [TinhTrang]) VALUES (N'HD116282AQS', CAST(0x4C400B00 AS Date), N'KH1901211SE', N'1704500', 4630000.0000, 1)
INSERT [dbo].[HOADON_MUAHANG] ([MaHD], [NgayMua], [MaNCC], [MaNV], [TongTien], [TinhTrang]) VALUES (N'HD113045APO', CAST(0x7B400B00 AS Date), N'NCC003', N'1704501', 60900000.0000, 1)
INSERT [dbo].[HOADON_MUAHANG] ([MaHD], [NgayMua], [MaNCC], [MaNV], [TongTien], [TinhTrang]) VALUES (N'HD217168DAM', CAST(0x68400B00 AS Date), N'NCC002', N'1704501', 44000000.0000, 1)
INSERT [dbo].[HOADON_MUAHANG] ([MaHD], [NgayMua], [MaNCC], [MaNV], [TongTien], [TinhTrang]) VALUES (N'HD255505ENX', CAST(0x7A400B00 AS Date), N'NCC475', N'1704501', 3000000.0000, 1)
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH1901011SD', N'Nguyễn Thế Bảo Ngọc', N'TPHCM', N'0123456456')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH1901211SE', N'Trần Thiên Tài', N'TPHCM', N'0987654321')
INSERT [dbo].[KHACHHANG] ([MaKH], [TenKH], [DiaChi], [DienThoai]) VALUES (N'KH1985357HG', N'Trần Ngọc Bích', N'TPHCM', N'0975681233')
INSERT [dbo].[LINHKIEN] ([MaLK], [TenLK], [LoaiLK], [NhaSX], [XuatXu], [NamSX], [MaNCC], [SOLUONG], [GiaNhap]) VALUES (N'19AGE12493', N'I3', N'1', N'INTEL', N'USA', 2018, N'NCC001', 49, 1890000.0000)
INSERT [dbo].[LINHKIEN] ([MaLK], [TenLK], [LoaiLK], [NhaSX], [XuatXu], [NamSX], [MaNCC], [SOLUONG], [GiaNhap]) VALUES (N'19AWV11514', N'CPU RYZEN 3 2200G', N'1', N'AMD', N'TAIWAN', 2018, N'NCC001', 79, 4650000.0000)
INSERT [dbo].[LINHKIEN] ([MaLK], [TenLK], [LoaiLK], [NhaSX], [XuatXu], [NamSX], [MaNCC], [SOLUONG], [GiaNhap]) VALUES (N'19BAH16141', N'Gigabyte 3', N'2', N'Gigabyte ', N'China', 2018, N'NCC002', 98, 350000.0000)
INSERT [dbo].[LOAI_LK] ([MaLoai], [TenLoai], [DVT], [ThangBH]) VALUES (N'1', N'CPU       ', N'Cái', 24)
INSERT [dbo].[LOAI_LK] ([MaLoai], [TenLoai], [DVT], [ThangBH]) VALUES (N'2', N'MainBoard ', N'Cái', 12)
INSERT [dbo].[LOAI_LK] ([MaLoai], [TenLoai], [DVT], [ThangBH]) VALUES (N'3', N'Ram       ', N'Cái', 12)
INSERT [dbo].[MANHINH] ([MaManHinh], [TenManHinh]) VALUES (N'M01', N'Hồ sơ cá nhân')
INSERT [dbo].[MANHINH] ([MaManHinh], [TenManHinh]) VALUES (N'M02', N'Đổi mật khẩu')
INSERT [dbo].[MANHINH] ([MaManHinh], [TenManHinh]) VALUES (N'M03', N'Phân quyền màn hình')
INSERT [dbo].[ND_NND] ([TaiKhoanND], [MaNhomND], [GhiChu]) VALUES (N'1524058', 1, N'')
INSERT [dbo].[ND_NND] ([TaiKhoanND], [MaNhomND], [GhiChu]) VALUES (N'1524058', 2, N'')
INSERT [dbo].[ND_NND] ([TaiKhoanND], [MaNhomND], [GhiChu]) VALUES (N'1524058', 3, N'')
INSERT [dbo].[NGUOIDUNG] ([TaiKhoan], [MatKhau], [TinhTrang]) VALUES (N'1113588', N'3D-4F-2B-F0-7D-C1-BE-38-B2-0C-D6-E4-69-49-A1-07-1F-9D-0E-3D', 1)
INSERT [dbo].[NGUOIDUNG] ([TaiKhoan], [MatKhau], [TinhTrang]) VALUES (N'1339718', N'3D-4F-2B-F0-7D-C1-BE-38-B2-0C-D6-E4-69-49-A1-07-1F-9D-0E-3D', 1)
INSERT [dbo].[NGUOIDUNG] ([TaiKhoan], [MatKhau], [TinhTrang]) VALUES (N'1456088', N'3D-4F-2B-F0-7D-C1-BE-38-B2-0C-D6-E4-69-49-A1-07-1F-9D-0E-3D', 1)
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [SoTaiKhoan], [NgayDangKy]) VALUES (N'NCC001', N'Viễn Sơn', N'Nguyễn Thị Minh Khai Q1', N'0975491940', N'140589853424515', CAST(0xB63D0B00 AS Date))
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [SoTaiKhoan], [NgayDangKy]) VALUES (N'NCC002', N'FPT', N'Trương Định', N'0975478940', N'140588893424599', CAST(0x9D3F0B00 AS Date))
INSERT [dbo].[NHACUNGCAP] ([MaNCC], [TenNCC], [DiaChi], [DienThoai], [SoTaiKhoan], [NgayDangKy]) VALUES (N'NCC003', N'Bách Khoa Comp', N'11 Lê Lợi Q1', N'0149856756', N'145589895265654', CAST(0xB63D0B00 AS Date))
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [NgaySinh], [DiaChi], [DienThoai], [Email], [CMND], [MaBC], [GioiTinh]) VALUES (N'1113588', N'Huỳnh Ngọc Tú', CAST(0xE0230B00 AS Date), N'146 Yesin, Bình Dương', N'0387469853 ', N'tung@example.com', N'022146978', N'BC03', N'Nữ')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [NgaySinh], [DiaChi], [DienThoai], [Email], [CMND], [MaBC], [GioiTinh]) VALUES (N'1339718', N'Nguyễn Thị Phú Lam', CAST(0x14160B00 AS Date), N'141 Lê Trọng Tấn, Tân Phú, Tphcm', N'0335485462 ', N'lamnt@hotmail.com', N'025536975', N'BC03', N'Nam')
INSERT [dbo].[NHANVIEN] ([MaNV], [HoTen], [NgaySinh], [DiaChi], [DienThoai], [Email], [CMND], [MaBC], [GioiTinh]) VALUES (N'1456088', N'La Thế Thành', CAST(0xC1160B00 AS Date), N'123 Ðồng Khởi Tân Ðịnh, Bến Nghé, Q1, TPHCM', N'0336548956 ', N'thanhlavu433@yahoo.vn', N'025666987', N'BC01', N'Nam')
INSERT [dbo].[NHOMNGUOIDUNG] ([ID], [TenGoi]) VALUES (1, N'Quản Trị')
INSERT [dbo].[NHOMNGUOIDUNG] ([ID], [TenGoi]) VALUES (2, N'Quản Lý')
INSERT [dbo].[NHOMNGUOIDUNG] ([ID], [TenGoi]) VALUES (3, N'Nhân Viên Bán Hàng')
INSERT [dbo].[PHANQUYEN] ([MaManHinh], [MaNhomND], [CoQuyen]) VALUES (N'M01', 1, 1)
INSERT [dbo].[PHANQUYEN] ([MaManHinh], [MaNhomND], [CoQuyen]) VALUES (N'M01', 2, 1)
INSERT [dbo].[PHANQUYEN] ([MaManHinh], [MaNhomND], [CoQuyen]) VALUES (N'M01', 3, 1)
INSERT [dbo].[PHIEUNHAP] ([MaPN], [MaHDM], [NgayNhap], [MaNCC], [MaNV]) VALUES (N'PN125265AQY', N'HD490237KJS', CAST(0x7B400B00 AS Date), N'NCC003', N'1704501')
INSERT [dbo].[PHIEUNHAP] ([MaPN], [MaHDM], [NgayNhap], [MaNCC], [MaNV]) VALUES (N'PN128999AHU', N'HD490237KJS', CAST(0x7B400B00 AS Date), N'NCC003', N'1704501')
INSERT [dbo].[PHIEUNHAP] ([MaPN], [MaHDM], [NgayNhap], [MaNCC], [MaNV]) VALUES (N'PN134902ART', N'HD255505ENX', CAST(0x7A400B00 AS Date), N'NCC475', N'1704501')
INSERT [dbo].[PHIEUXUAT] ([MaPX], [MaHDB], [MaKH], [MaNV], [NgayXuat]) VALUES (N'PX111432AGL', N'HD182811CBR', N'KH8508660UJ', N'1704500', CAST(0x4C400B00 AS Date))
INSERT [dbo].[PHIEUXUAT] ([MaPX], [MaHDB], [MaKH], [MaNV], [NgayXuat]) VALUES (N'PX115643AUB', N'HD494621KIQ', N'KH1988211VC', N'1704501', CAST(0x4F400B00 AS Date))
INSERT [dbo].[PHIEUXUAT] ([MaPX], [MaHDB], [MaKH], [MaNV], [NgayXuat]) VALUES (N'PX130591AIJ', N'HD539577MQF', N'KH7705610SJ', N'1524058', CAST(0x69400B00 AS Date))
INSERT [dbo].[THAMSO] ([MaTS], [TiLeGiaBan], [SLMuaToiDa], [SLTonToiDa], [SLTonToiThieu], [SLBanToiDa]) VALUES (N'TS001      ', 25, 120, 50, 25, 120)
ALTER TABLE [dbo].[CT_HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADONBAN_HOADONBANHANG] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[HOADON_BANHANG] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HOADONBAN] CHECK CONSTRAINT [FK_CTHOADONBAN_HOADONBANHANG]
GO
ALTER TABLE [dbo].[CT_HOADONBAN]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADONBAN_LINHKIEN] FOREIGN KEY([MaLK])
REFERENCES [dbo].[LINHKIEN] ([MaLK])
GO
ALTER TABLE [dbo].[CT_HOADONBAN] CHECK CONSTRAINT [FK_CTHOADONBAN_LINHKIEN]
GO
ALTER TABLE [dbo].[CT_HOADONMUA]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADONMUA_HOADONMUAHANG] FOREIGN KEY([MaHDM])
REFERENCES [dbo].[HOADON_MUAHANG] ([MaHD])
GO
ALTER TABLE [dbo].[CT_HOADONMUA] CHECK CONSTRAINT [FK_CTHOADONMUA_HOADONMUAHANG]
GO
ALTER TABLE [dbo].[CT_HOADONMUA]  WITH CHECK ADD  CONSTRAINT [FK_CTHOADONMUA_LINHKIEN] FOREIGN KEY([MaLK])
REFERENCES [dbo].[LINHKIEN] ([MaLK])
GO
ALTER TABLE [dbo].[CT_HOADONMUA] CHECK CONSTRAINT [FK_CTHOADONMUA_LINHKIEN]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_LINHKIEN] FOREIGN KEY([MaLK])
REFERENCES [dbo].[LINHKIEN] ([MaLK])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_LINHKIEN]
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PHIEUNHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CT_PHIEUNHAP] CHECK CONSTRAINT [FK_CTPHIEUNHAP_PHIEUNHAP]
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_CTPHIEUXUAT_PHIEUXUAT] FOREIGN KEY([MaPhieuXuat])
REFERENCES [dbo].[PHIEUXUAT] ([MaPX])
GO
ALTER TABLE [dbo].[CT_PHIEUXUAT] CHECK CONSTRAINT [FK_CTPHIEUXUAT_PHIEUXUAT]
GO
ALTER TABLE [dbo].[GIA_LK]  WITH CHECK ADD  CONSTRAINT [FK_GIA_LK_LINHKIEN] FOREIGN KEY([MaLK])
REFERENCES [dbo].[LINHKIEN] ([MaLK])
GO
ALTER TABLE [dbo].[GIA_LK] CHECK CONSTRAINT [FK_GIA_LK_LINHKIEN]
GO
ALTER TABLE [dbo].[HOADON_BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBANHANG_KHACHHANG] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOADON_BANHANG] CHECK CONSTRAINT [FK_HOADONBANHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[HOADON_BANHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONBANHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON_BANHANG] CHECK CONSTRAINT [FK_HOADONBANHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[HOADON_MUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONMUAHANG_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[HOADON_MUAHANG] CHECK CONSTRAINT [FK_HOADONMUAHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[HOADON_MUAHANG]  WITH CHECK ADD  CONSTRAINT [FK_HOADONMUAHANG_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOADON_MUAHANG] CHECK CONSTRAINT [FK_HOADONMUAHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_LINHKIEN_LOAI_LK] FOREIGN KEY([LoaiLK])
REFERENCES [dbo].[LOAI_LK] ([MaLoai])
GO
ALTER TABLE [dbo].[LINHKIEN] CHECK CONSTRAINT [FK_LINHKIEN_LOAI_LK]
GO
ALTER TABLE [dbo].[LINHKIEN]  WITH CHECK ADD  CONSTRAINT [FK_LINHKIEN_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[LINHKIEN] CHECK CONSTRAINT [FK_LINHKIEN_NHACUNGCAP]
GO
ALTER TABLE [dbo].[ND_NND]  WITH CHECK ADD  CONSTRAINT [FK_ND_NND_NGUOIDUNG] FOREIGN KEY([TaiKhoanND])
REFERENCES [dbo].[NGUOIDUNG] ([TaiKhoan])
GO
ALTER TABLE [dbo].[ND_NND] CHECK CONSTRAINT [FK_ND_NND_NGUOIDUNG]
GO
ALTER TABLE [dbo].[ND_NND]  WITH CHECK ADD  CONSTRAINT [FK_ND_NND_NHOMNGUOIDUNG] FOREIGN KEY([MaNhomND])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[ND_NND] CHECK CONSTRAINT [FK_ND_NND_NHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[NGUOIDUNG]  WITH CHECK ADD  CONSTRAINT [FK_NGUOIDUNG_NHANVIEN] FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[NGUOIDUNG] CHECK CONSTRAINT [FK_NGUOIDUNG_NHANVIEN]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BANGCAP] FOREIGN KEY([MaBC])
REFERENCES [dbo].[BANGCAP] ([MaBC])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BANGCAP]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_MANHINH] FOREIGN KEY([MaManHinh])
REFERENCES [dbo].[MANHINH] ([MaManHinh])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_MANHINH]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_NHOMNGUOIDUNG] FOREIGN KEY([MaNhomND])
REFERENCES [dbo].[NHOMNGUOIDUNG] ([ID])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_NHOMNGUOIDUNG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_HOADON_MUAHANG] FOREIGN KEY([MaHDM])
REFERENCES [dbo].[HOADON_MUAHANG] ([MaHD])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_HOADON_MUAHANG]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP] FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHACUNGCAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHACUNGCAP]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUNHAP_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PHIEUNHAP_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_HOADON_BANHANG] FOREIGN KEY([MaHDB])
REFERENCES [dbo].[HOADON_BANHANG] ([MaHD])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_HOADON_BANHANG]
GO
ALTER TABLE [dbo].[PHIEUXUAT]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUXUAT_NHANVIEN] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHANVIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEUXUAT] CHECK CONSTRAINT [FK_PHIEUXUAT_NHANVIEN]
GO
USE [master]
GO
